* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* font-size 62.5% = 10 px */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
li {
  list-style: none;
}
button:hover {
  cursor: pointer;
}
