* {
  font-family: "Poppins", sans-serif;
}
.header {
  /* width: 100%; нужно ли и зачем?*/
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.header-container {
  display: flex;
  margin: 0px auto;
  align-items: center;
  max-width: 1200px;
  justify-content: space-between;
  width: 74%;
}
.header-logo {
  display: flex;
  align-items: center;
}
.header-logo__jpg {
  width: 40px;
  height: 40px;
}
.header-logo__link {
  margin-left: 5px;
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 800;
}
.header-logo__link:hover {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    134.6deg,
    #d140f8 -3.11%,
    #788ce9 33.98%,
    #37c2de 66.35%,
    #1eccae 98.49%
  );
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-nav-link {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #666666;
  padding: 12px 16px;
  font-size: 15px;
}
.header-nav-link:hover {
  background-color: #666666;
  color: white;
  transition: background-color 0.3s;
}

.header-nav-button {
  font-size: 15px;
  border-radius: 4px;
  background-color: #222222;
  color: white;
  margin: 25px 3px;
  padding: 11px 25px;
  letter-spacing: 2px;
  border: 1px solid black;
}
.header-nav-button:hover {
  background-color: white;
  color: black;
  border: 1px solid #666666;
}
main {
  max-width: 1440px;
  margin: 0px auto;
}
.section-intro {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  color: #222222;
  padding: 10% 0 0 0;
}
.section-features p {
  padding: 0 2% 0 2%;
}

.logo-intro {
  display: flex;
  align-items: center;
}
.logo-intro__jpg {
  width: 64px;
  height: 64px;
}
.header-logo__link.-intro {
  font-size: 22px;
  align-self: center;
}
.h2-intro {
  font-size: 54px;
  font-weight: 400;
}
.p-intro {
  font-size: 16px;
}

.pic-intro__jpg {
  display: flex;
  position: relative;
  width: 376px;
  height: 548px;
  background: url(./pictures/intro_phoneWP.png) no-repeat;
  background-position: left 50% top -16%;
  background-size: 325px;
}

.section-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 5%;
  color: #ffffff;
  background-color: #222222;
}
.h5-features {
  font-size: 14px;
  margin-top: 75px;
  letter-spacing: 2px;
  font-weight: 400;
}
.p-features {
  font-size: 32px;
  text-align: center;
  line-height: 36px;
  padding-bottom: 2%;
}

.card-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  padding: 0 8%;
}

.card-wrap-item {
  position: relative;
  width: 32%;
  background-color: white;
  margin-top: 1%;
  border-radius: 20px;
}
.div-features-absolute-img {
  position: absolute;
  top: 54.5%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}
.div-features-pic {
  display: flex;
  justify-content: center;
  background-color: white;
  height: 60%;
  overflow: hidden;
  padding-top: 10%;
  border-radius: 20px;
}
.features-pic-phone {
  width: 227px;
  height: 450px;
}
.features-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f2f2f2;
  height: 40%;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.features-text h3 {
  font-size: 24px;
  text-align: center;
}
h3 + p {
  font-size: 16px;
  text-align: center;
  color: #222222;
}
.h3-features-view {
  color: #0278ed;
}
.h3-features-list {
  color: #ff5437;
}
.h3-features-type {
  color: #ff9209;
}
.h3-features-split {
  color: #e738ce;
}
.h3-features-uploads {
  color: #00c6df;
}
.h3-features-focus {
  color: #b25df8;
}

.section-stat {
  background-color: #ff5437;
  display: flex;
  justify-content: space-around;
  padding: 0% 4% 0 4%;
}

.div-stat {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3% 0%;
}
.div-stat p:nth-child(1) {
  font-size: 95px;
  color: #ffffff;
}
.div-stat p:nth-child(2) {
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.section-technology {
  display: flex;
  justify-content: space-evenly;
  padding: 10% 0 0 0;
}

.section-technology h2 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}

.div-technology {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 8% 0 0 0;
}
.div-technology :nth-child(2) {
  font-size: 32px;
  line-height: 36px;
}
.div-technology :nth-child(3) {
  font-size: 16px;
  color: #666666;
  padding-top: 15px;
}

.section-technology-img-wrap {
  max-width: 376px;
  max-height: 520px;
  overflow: hidden;
}

.section-speed_and_security {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-evenly;
  padding: 10% 0 0 5%;
}
.security_pic_cont {
  max-width: 376px;
  max-height: 520px;
  overflow: hidden;
}
.section-speed_and_security h2 {
  font-size: 14px;
  letter-spacing: 2px;
}
.div-security {
  width: 30%;
  padding-top: 10%;
}

.h2-security + p {
  font-size: 32px;
  line-height: 36px;
  padding-top: 10px;
}
.div-security :nth-child(3) {
  padding-top: 15px;
  font-size: 16px;
  color: #666666;
}

.section-darkmode {
  display: flex;
  justify-content: center;
  background-color: #222222;
  padding-top: 5%;
}
.section-darkmode h3 {
  color: #ffffff;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
}
.darkmode-span {
  padding-top: 4%;
}
.div-darkmove-relative {
  position: relative;
}
.darkmode-span::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 50%;
  height: 2px;
  background-color: #e5e5e5;
  left: 11px;
  top: 99%;
}
.darkmode-span::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: #e5e5e5;
  top: 99%;
  right: 11px;
}
.div-text-darkmode {
  width: 40%;
}
.p-darkmode-first {
  color: #ffffff;
  font-size: 32px;
}
.p-darkmode-second {
  color: #ffffff;
  text-align: center;
  font-size: 18px;
}
.div-darkmode-img {
  display: flex;
  justify-content: center;
}
.hr-darkmode {
  color: #e5e5e5;
  height: 2px;
}
.div-conteiner-sunmoon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-darkmode-light {
  font-size: 20px;
}
.div-conteiner-sunmoon h5 {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
.div-conteiner-sunmoon div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7%;
}

.section-pricing {
  text-align: center;
  margin-bottom: 5%;
}
.section-pricing h6 {
  padding-top: 10%;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 400;
}
.p-pricing-plan {
  font-size: 32px;
}
.p-pricing-text {
  font-size: 18px;
  color: #666666;
  padding: 0 27% 4% 27%;
}
.div-pricing-container {
  display: flex;
  justify-content: space-evenly;
}
.div-pricing-plans {
  width: 30%;
  background-color: #f2f2f2;
  border-radius: 20px;
  border: 2px solid #92242400;
}
.div-pricing-plans :nth-child(1) {
  font-size: 18px;
  padding-top: 17%;
}
.div-pricing-plans :nth-child(2) {
  font-size: 108px;
  /* как поступать с размерами? если задавать большие размеры в пикселях, при увеличении экрана, они занимают очень много пространства. если через VW то при уменьшени он налазит на другой текст */
  /* font-size: 9vw; */
  line-height: 124px;
  letter-spacing: 8px;
}
.div-pricing-plans :nth-child(3) {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  padding-top: 8%;
}
.div-pricing-plans :nth-child(4) {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  color: #ffffff;
  padding: 10px 25px;
  margin: 6% 0 17% 0;
}

.p-pracing-monthly.--color {
  color: black;
}
.p-pricing-standart {
  color: #0278ed;
}
.p-pricing-premium {
  color: #ff5437;
}
.p-pricing-lifetime {
  color: #ff9209;
}
.div-pricing-plans.--standart button {
  background-color: #0278ed;
  border-radius: 4px;
  border: 3px solid #0278ed;
}
.div-pricing-plans.--standart button:hover {
  border: 3px solid #4495e7;
}
.div-pricing-plans.--premium button {
  background-color: #ff5437;
  border-radius: 4px;
  border: 3px solid #ff5437;
}
.div-pricing-plans.--premium button:hover {
  border: 3px solid #fe6a50;
}
.div-pricing-plans.--lifetime button {
  background-color: #ff9209;
  border-radius: 4px;
  border: 3px solid #ff9209;
}
.div-pricing-plans.--lifetime button:hover {
  border: 3px solid #f9a339;
}

.div-pricing-plans.--standart:hover {
  border: 2px solid #0278ed;
}
.div-pricing-plans.--premium:hover {
  border: 2px solid #ff5437;
}
.div-pricing-plans.--lifetime:hover {
  border: 2px solid #ff9209;
}
.section-testimonials {
  text-align: center;
  background-color: #f2f2f2;
  padding-bottom: 5%;
}
.h4-14px {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  font-weight: 400;
  padding-top: 5%;
}
.p-32px {
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
  color: #222222;
}
.p-18px.--grey {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #666666;
}
.p-16px {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.p-18px.--testimonials-padding {
  padding: 1% 0 2% 0;
}

.div-testimonials-conteiner {
  display: flex;
  justify-content: center;
}

.div-testimonials-cards {
  background-color: #ffffff;
  border-radius: 20px;
  width: 26%;
  padding: 2% 2% 2% 2%;
  text-align: start;
  margin: 0 1%;
}
.div-testimonials-pic-cont {
  display: flex;
  align-items: center;
  padding: 5% 0 0 0;
}
.div-testimonials-pic-cont.--3rd {
  padding-top: 13%;
}
.p-testimonials-names {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding-left: 5px;
}
.p-testimonials-DM {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding-left: 5px;
}

.section-download {
  text-align: center;
  padding: 5% 29% 9%;
}
.div-download-button-cont {
  display: flex;
  justify-content: center;
}
.button-download-appstore {
  display: flex;
  background-color: #000000;
  color: white;
  border: 2px solid #a6a6a6;
  border-radius: 15px;
  padding: 5px 10px;
  justify-content: space-between;
}
.span-download-button-text {
  font-size: 16px;
  padding-left: 5px;
}
.download-img-apple {
  padding-top: 6px;
}
.p-18px.--download {
  padding: 2% 0 4%;
}

.section-faq {
  background-color: #e5e5e5;
  padding: 5%;
}
.h1-faq {
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
  line-height: 36px;
  padding-bottom: 1%;
}
.h1-faq + p {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}
.section-div-box {
  display: flex;
  justify-content: space-around;
  /* align-items: flex-end; */
}
.div-cont-faq {
  width: 44%;
}
.p-faq-questions {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  padding: 4% 0;
}

.div-cont-faq.--second {
  padding-top: 4.5%;
}
.p-faq-questions.--padding {
  padding-top: 8%;
}
footer {
  text-align: center;
  max-width: 1440px;
  margin: 0 auto;
}
.p-16px.--grey {
  color: #b1b1b1;
  padding-bottom: 5%;
}
.p-16px.--grey span {
  color: #666666;
}
.footer-logo-img {
  width: 5%;
  padding: 6% 0 0;
}
.header-logo__link.--footer {
  font-size: 26px;
}
.footer-div-socialmedia-img {
  padding: 1%;
}
.footer-div-socialmedia-img img {
  padding: 0 10px;
}
.footer-logo-img:hover {
  transform: rotate(-360deg);
}
