* {
  font-family: "Poppins", sans-serif;
}
.header {
  /* width: 100%; нужно ли и зачем?*/
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.header-container {
  display: flex;
  margin: 0px auto;
  align-items: center;
  max-width: 1200px;
  justify-content: space-between;
  width: 74%;
}
.header-logo {
  display: flex;
  align-items: center;
}
.header-logo__jpg {
  width: 40px;
  height: 40px;
}
.header-logo__link {
  margin-left: 5px;
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 800;
}
.header-logo__link:hover {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    134.6deg,
    #d140f8 -3.11%,
    #788ce9 33.98%,
    #37c2de 66.35%,
    #1eccae 98.49%
  );
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-nav-link {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #666666;
  padding: 12px 16px;
  font-size: 15px;
}
.header-nav-link:hover {
  background-color: #666666;
  color: white;
  transition: background-color 0.3s;
}

.header-nav-button {
  font-size: 15px;
  border-radius: 4px;
  background-color: #222222;
  color: white;
  margin: 25px 3px;
  padding: 11px 25px;
  letter-spacing: 2px;
  border: 1px solid black;
}
.header-nav-button:hover {
  background-color: white;
  color: black;
  border: 1px solid #666666;
}
main {
  max-width: 1440px;
  margin: 0px auto;
}
.section-intro {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  color: #222222;
  padding: 10% 0 0 0;
}

.logo-intro {
  display: flex;
  align-items: center;
}
.logo-intro__jpg {
  width: 64px;
  height: 64px;
}
.header-logo__link.-intro {
  font-size: 22px;
  align-self: center;
}
.h2-intro {
  font-size: 54px;
  font-weight: 400;
}
.p-intro {
  font-size: 16px;
}

.pic-intro__jpg {
  display: flex;
  position: relative;
  width: 376px;
  height: 548px;
  background: url(./pictures/intro_phoneWP.png) no-repeat;
  background-position: left 50% top -16%;
  background-size: 325px;
}

.section-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  padding-bottom: 5%;
  color: #ffffff;
  background-color: #222222;
}
.h5-features {
  font-size: 14px;
  margin-top: 75px;
  letter-spacing: 2px;
  font-weight: 400;
}
.p-features {
  font-size: 32px;
  text-align: center;
  line-height: 36px;
  padding-bottom: 2%;
}

.card-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  padding: 0 8%;
}

.card-wrap-item {
  position: relative;
  width: 32%;
  background-color: white;
  margin-top: 1%;
  border-radius: 20px;
}
.div-features-pic {
  display: flex;
  justify-content: center;
  background-color: white;
  height: 60%;
  overflow: hidden;
  padding-top: 10%;
  border-radius: 20px;
}
.features-pic-phone {
  width: 227px;
  height: 450px;
}
.features-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f2f2f2;
  height: 40%;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.features-text h3 {
  font-size: 24px;
  text-align: center;
}
h3 + p {
  font-size: 16px;
  text-align: center;
  color: #222222;
}
.h3-features-view {
  color: #0278ed;
}
.h3-features-list {
  color: #ff5437;
}
.h3-features-type {
  color: #ff9209;
}
.h3-features-split {
  color: #e738ce;
}
.h3-features-uploads {
  color: #00c6df;
}
.h3-features-focus {
  color: #b25df8;
}
